# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
*.db
*.env
.env
.env.*
*.secret
local_settings.py
instance/
media/
staticfiles/
static_root/
media_root/
*.mo

# Django migrations
**/migrations/
!*/migrations/__init__.py

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Pycharm
*.iml
*.ipr
*.iws
.idea/

# Virtualenv
venv/
env/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Test results
junit.xml

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# VS Code settings
.vscode/

# Pipenv
Pipfile.lock

# Docker
*.pid
